<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <omnipro_base>
            <general>
                <enable>1</enable>
            </general>
            <http_client>
                <debug_requests_enable>1</debug_requests_enable>
            </http_client>
        </omnipro_base>
    </default>
</config>
